! ~/.Xresources


! ------ VARIABLES ------

#define defaultWebbrowser firefox

#define defaultFontSize	17
!#define defaultFont 	-*-dejavu sans mono-medium-r-normal-*-14-*-100-100-*-*-*-1
!#define defaultFont 	xft:dejavu sans mono:pixelsize=14
!#define defaultFont 	xft:inconsolata:pixelsize=defaultFontSize
#define defaultFont xft:MONOSPACE-11:MEDIUM


! ------ COLOR THEME ------
! ONLY ONE ACTIVE AT A TIME
! -------------------------
!#include ".xres/color/RGB"
#include ".xres/color/Alien"


! ------ MODULES ------
#include ".xres/urxvt"
#include ".xres/i3"
#include ".xres/i3status"
#include ".xres/xterm"


! ------ COLORS ------

*foreground:  COLFG
*background:  COLBG
*cursorColor: COLCR

!! black
*color0 : COL00
*color8 : COL08
!! red
*color1 : COL01
*color9 : COL09
!! green
*color2 : COL02
*color10: COL10
!! yellow
*color3 : COL03
*color11: COL11
!! blue
*color4 : COL04
*color12: COL12
!! magenta
*color5 : COL05
*color13: COL13
!! cyan
*color6 : COL06
*color14: COL14
!! white
*color7 : COL07
*color15: COL15



! ------ FONTS ------

*.font:				defaultFont

Xft.dpi:		96
Xft.antialias:	true
Xft.rgba:		none
Xft.hinting:	true
Xft.hintstyle:	hintfull
Xft.lcdfilter:	lcddefault

